.field {
  width: 100%;
  padding: 2rem 2.5rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 25% 60%;
  align-items: flex-start;
  justify-content: flex-start;

  border-top: 0.5px solid var(--gray-500);
  border-bottom: 0.5px solid var(--gray-100);
}

.label {
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.checkAll {
  font-size: 1.1rem;
  font-weight: 500;
}

.required {
  color: red;
  margin-left: 0.3rem;
}

.agreementBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.95rem;
}

.agreementList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.agreementList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agreementList li a {
  color: var(--purple);
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}

.marketing {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}
.inlineOptions {
  display: flex;
  gap: 3rem;
  margin-left: 4rem;
  margin-top: 0.5rem;
}
