.field {
  width: 100%;
  padding: 0.6rem 2.5rem;

  display: grid;
  grid-template-columns: 25% 60%;
  align-items: center;
  justify-content: flex-start;
}

.label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.required {
  color: red;
  margin-left: 0.3rem;
}

.input {
  border: 1px solid var(--gray-200);
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
}

.error {
  border-color: red;
}

.errorMessage {
  grid-column: 1 / -1;
  width: 100%;
  color: red;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}
