.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  margin-right: 0.5rem;
}
.checkbox:checked {
  background-color: #5f0080;
  border-color: #5f0080;
}
.checkbox:checked::after {
  content: '✔';
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 3px;
}

.label {
  font-size: 14px;
  color: #333;
}
