.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  position: relative;
  margin-right: 0.5rem;
  border: 1.5px solid var(--gray-200);
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 4px;
  border: 2px solid var(--gray-300);
}

.checkbox:checked {
  background-color: var(--purple);
  border-color: var(--purple);
}

.checkbox:checked::after {
  content: '✔';
  color: var(--white);
  font-size: 1rem;
  position: absolute;
  top: 0.5px;
  left: 4px;
}

.label {
  font-size: 0.85rem;
  color: var(--gray-600);
}
